/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .header {
    /*background-color: blue;*/
 /*   background-color: rgba(255,0,0,0.15);
    background-image: url(img/P6050313.jpg);
    width: 100%;
  /*background-size: cover;*/
    position: absolute;
    width: calc(100% - 300px);
    height: 80px;
    left: 0;
    top: 0;
    z-index: 1000;
    margin-bottom: 100px
 }

.header-logo{
    height: 100px;
}

.header-link{
    text-decoration: none;
    color: white;
}

/*.main-visual {
  width: 100%;
  height: 100%;
  background-image: url(img/850_8073.jpg);
  background-size: cover;
  background-position: center;
}
.main-visual-content {
  width: 40%;
  height: 300px;
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 105px;
}
.main-visual-text {
  color: #fff;
}
*/
.about-visual{
  background-image: url(img/01diver_s.png);
  background-color: #ABBDDA;
  width: 100%;
  height: 300px;
  background-size: 500px;
  background-position: center;
  /*padding-top: 105px;*/
}

.about-visual-content {
  width: 40%;
  height: 300px;
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 105px;
}
.about-visual-text {
  color: #fff;
}

.about-logo{
  height: 100%;
}

.block-content{
  padding-bottom: 20px
}

.position{
  margin-top: 100px
}

.slide1 {
  width: 100%;
  margin: 0 auto 50px;
  padding: 0;
  height: auto;
}
.slide1 img{
  width: 100%;
  height: 550px;
}


.sliderArea {
    /*background: #fff;*/
    overflow: hidden;
}
.sliderWide {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
.sliderWide .slick-arrow {
    opacity: 0;
    transition-duration: 0.3s;
}
.sliderWide:hover .slick-arrow {
    opacity: 1;
}
.slider {
    max-width: 280px;
    margin: 0 auto;
    padding: 0;
}
.slider .slick-list {
    overflow: visible;
}
.slider .slick-track {}
.slider .slick-slide {
    padding: 0 10px;
    opacity: .5;
    transition-duration: 0.3s;
}
.slider .slick-slide.slick-current {
    opacity: 1;
}
.slider .slick-slide a {
    display: block;
}
.slider .slick-slide a:hover {
    display: block;
    opacity: .7;
}
.slider img {
    height: auto;
    width: 100%;
}
.slick-prev, .slick-next {
    z-index: 1;
}
.slick-dots {
    bottom: -33px;
}


body {
  /*background-image: url(img/P6050234.jpg);*/
  background: #1c92d2;
  background: -webkit-linear-gradient(to right, #1c92d2, #f2fcfe);
  background: linear-gradient(to right, #1c92d2, #f2fcfe);

}

.user-icon{
    height: 20px;
}

.wrapper{
    min-height: 100vh;
    padding-bottom: 30px;
}

footer {
    background-color: #2E4B71;
    width: 100%;
    height: 100px
}

.footer-text{
    width: 200px;
    padding-top: 25px;
    margin:0 auto;
    color: #fff;
}


/*admin*/

.table{
  background-color: #fff;
  border: solid 2px #2E4B71;
}

.admin-user{
  background-color: #fff;
  padding-bottom: 30px;
  margin-top: 100px;
}

.block-image{
  padding-top: 20px
}
/*table th, table td {
  border: dashed 1px orange;
}*/
